body {
  background: #1f2937;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  color: white;
}

#hero {
  border: 2px solid #2f3e53;
  width: 550px;
  margin: auto;
}
.hero-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

#content {
  margin-top: 2em;
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
}

.box {
  width: 211px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Karla";
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.025em;
}

p {
  font-size: 20px;
  line-height: 140%;
  color: #d5d4d8;
}

span {
  color: #4adf86;
}

button {
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 191px;
  height: 42px;
  background: #10b981;
  border-width: 0;
  color: inherit;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}

button:hover {
  background: #10b9818e;
  transition: 0.3s;
}
